################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.nuget
/.vs
/packages
/ShoeTracker/Web.Release.config
/ShoeTracker/Web.Debug.config
/ShoeTracker/Web.config
/ShoeTracker/ShoeTrackerUI.csproj.user
/ShoeTracker/ShoeTrackerUI.csproj.DotSettings.user
/ShoeTracker/ShoeTrackerUI.csproj.DotSettings
/ShoeTracker/ShoeTrackerUI.csproj
/ShoeTracker/packages.config
/ShoeTracker/Global.asax.cs
/ShoeTracker/Global.asax
/ShoeTracker/FirstAmericanRequestXml.xml
/ShoeProject.Domain/bin
/ShoeProject.Domain/Constants
/ShoeProject.Domain/obj
/ShoeProject.Domain/ShoeTracker.Domain.csproj.user
/ShoeProject.Domain/ShoeTracker.Domain.csproj
/ShoeProject.Domain/packages.config
/ShoeProject.Domain/App.config
/ShoeTracker.Core/bin
/ShoeTracker.Core/obj
/ShoeTracker.Core/SqlReaderWrapper.cs
/ShoeTracker.Tests
/ShoeTrackerUI.Azure
/ShoeTracker/bin
/ShoeTracker/obj
/ShoeTracker/Properties
/ShoeTracker/Views/Web.config
